html,
body {
    background: #DCDCDC;
    font-family: arial;
}
.header-cont {
    background: #D5D8DC;
    width:100%;
    position:fixed;
    top:0px;
}
.header {
    height:80%;
    border:0px;
    width:80%;
    margin:0px auto;
}
.container{
	height:100%;
	width:80%;
    margin:auto;
}

img[src="Leeds.jpg"]{
	float:right;
	padding:5px;
}