html,
body {
    background: #DCDCDC;
    font-family: arial;
}
.header-cont {
	background: #9A9A9A;
    width:1000px;
    position:fixed;
    top:0px;
}
.header {
	background: #9A9A9A;
    height:75%;
    border:0px;
    width:940px;
    margin:0px auto;
}
.container{
	height:100%;
	width:80%;
    margin:auto;
}

img[src="Leeds.jpg"]{
	float:right;
	padding:5px;
}

left: 10%;
margin-left: -100px;
display:block;
}