html, body {
  background:#DCDCDC;
  font-family: arial;
  display: table;
  margin: auto;
}

#sidebar {float:left; width:30%; padding-right: 5px;}
.post {float:center; width:70%; padding-right: 10px;}
#footer {clear:both;}
