html,
body {
    background: #DCDCDC;
    font-family: arial;
}

.container{
	width:80%;
    margin:auto;
}

img[src="github.png"]{
  vertical-align: bottom;
}

img[src="linkedin.png"]{
  vertical-align: bottom;
}


img[src="Leeds.jpg"]{
	float:right;
	padding:5px;
}