html, body {
  background:#DCDCDC;
  font-family: arial;
}

#sidebar {float:left; width:30%; padding-right: 5px;}
.post {float:center; width:70%; padding-left: 10px; margin-right: 5px}
#footer {clear:both;}
