html,
body {
    background: #DCDCDC;
    font-family: arial;
}
.header-cont {
    position:fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width:90%;
    top:0px;
    background: #d2d2d2;
}
.header {
    height:80%;
    border:0px;
    width:80%;
    margin:0px auto;
}
.container{
	height:100%;
	width:80%;
    margin:auto;
}

img[src="Leeds.jpg"]{
	float:right;
	padding:5px;
}

